body
{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.time
{
  font-size: 30px;
  font-weight: bold;
  
}


.btn-container
{
  padding-top: 20px;
  
}
.btn
{
  margin: 0px 10px;
  font-size: 15px;
}
h4{
  color:rgb(194, 51, 51);
}
